/* ========== DARK THEME ==========*/

.dark-theme {
  background-color: var(--bs-dark);
  color: white;
  .header {
    background-color: var(--bs-gray-800);
    border-bottom: solid 1px var(--bs-dark);
  }
  .p-button {
    background: var(--bs-gray-800) !important;
  }

  .p-dialog .p-dialog-content {
    background-color: var(--bs-gray-800);
    color: white;
  }

  .p-dialog .p-dialog-header {
    background-color: var(--bs-gray-800);
    color: white;
  }
}
