<div
  class="d-flex flex-column align-items-center justify-content-center w-100"
  style="height: calc(100vh - 50px)"
>
  <h1>Welcome to Ruben's test platform</h1>

  <div class="servicio">
    <div>
      <i class="bi bi-linkedin pe-2"></i>
      <a
        href="https://www.linkedin.com/in/rcgala/"
        title="Ir a LinkedIn"
        target="_blank"
        >Mi perfil en LinkedIn</a
      >
    </div>

    <div class="pt-3">
      <i class="pi pi-github pe-2"></i>
      <a href="https://github.com/unhetical" title="Ir a github" target="_blank"
        >Mis proyectos en GitHub</a
      >
    </div>
  </div>

  <div class="pt-3">
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-sign-out"
      class="p-button-rounded p-button-text p-shadow-2 bg-white mx-2"
      pTooltip="Logout"
      tooltipPosition="bottom"
      (click)="logout()"
    ></button>
  </div>
</div>
