.login {
  background-image: url("/assets/images/login-1920.jpg");
  background-position: initial;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  &__container {
    background-color: whitesmoke;
  }
}
