<div class="ui-search px-3 row d-flex flex-wrap justify-content-between">
  <div class="col-3 ui-search__field">
    <span class="p-input-icon-left" >
      <i class="pi pi-search"></i>
      <input
        type="text"
        pInputText
        [(ngModel)]="query"
        (ngModelChange)="setFilters()"
        placeholder="Search ..."
      />
    </span>
  </div>

  <div class="col-3 search__field">
    <p-dropdown
      [options]="regionOptions"
      [(ngModel)]="selectedRegion"
      (onChange)="setFilters()"
      optionLabel="name"
      optionValue="id"
      placeholder="Filter by region"
      [showClear]="true"
    ></p-dropdown>
  </div>

</div>
